.app {
    margin: auto;
    width: 800px;
    font-family: 'Amatic SC', cursive;
    font-family: 'Raleway', sans-serif;
}

.header {
    height: 50px;
    border-bottom: 1px solid silver;
    font-size: 25px;
    text-align: center;
    color: crimson;
}

.input {
    width: 800px;
    margin-top: 20px;
    display: flex;
}

.input input{
    width: 200px;
    height: 30px;
    border: 1px slategray solid;
    height: 25px;
    margin-bottom: 20px;
    display: flex;
}

.check input {
    width: 20px;
}

button {
    width: 100px;
    height: 32px;
    background: blueviolet;
    border: none;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 600;
    outline: none;
    cursor: pointer;
}


 .note {
     width: 275px;
     border-bottom: 1px solid silver;
     padding: 15px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }


.delete button {
    background: transparent;
    border: none;
    color: red;
    width: 20px;
    height: 20px;
    cursor: pointer;
    font-size: 20px;
}

span {
    flex: 1;
}

